server:
  port: 8082

spring:
  application:
    name: reservation-service

  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true

  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:kafka:9092}


management:
  endpoints:
    web:
      exposure:
        include: health,info
services:
  restaurant:
    base-url: ${SERVICES_RESTAURANT_BASE_URL:http://localhost:8081}
