server:
  port: 8081

spring:
  application:
    name: restaurant-service

  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
